.header-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
  }
  
  .header-list > form{
    width: 40%;
  }
  
  #saisie{
    width: 70%;
    margin-right: 5%;
  }
  
  #groupe-input{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .mon-tr:hover {
    background-color: rgb(216, 213, 213) !important;
    cursor: pointer;
  }

