.mon-container-tuile {
  text-align: center;
  margin-bottom: 3em;
}

.ma_tuile {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  margin-right: 1em;
  padding: 0 4em;
  padding-top: 0.25em;
}

.ma_tuile:hover {
  cursor: pointer;
  background-color: rgba(165, 165, 165, 0.26);
}

.activ {
  border-bottom: 2px solid rgb(49, 49, 170);
  color: rgb(9, 49, 170);
  font-weight: bold;
}

.activ:hover {
  background-color: unset;
  cursor: default;
}